@{
    ViewData["Title"] = "Products";
}
<h1>@ViewData["Title"]</h1>

<p>this page display products.</p>
@model IEnumerable<Product>

<div class="row pb-3">
    @foreach (var product1 in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow  border-top border-5 rounded"> 
                        @if(product1.ProductImages!=null && product1.ProductImages.Count() > 0) {
                            <img src="@product1.ProductImages.FirstOrDefault().ImageUrl" class="card-img-top rounded" />
                        }
                        else {
                            <img src="/images/logo.png" style="width:500*600"  class="card-img-top rounded" />
                        }
                        
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product1.Name</p>
                                <p class="card-title text-warning text-center">Category <b>@product1.Category.Name</b></p>
                            </div>
                           
                           
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    }
</div>