@model MessageViewModel
@{
    ViewData["Title"] = "Inbox";
}
<link href="~/css/inbox.css" rel="stylesheet" />
<div class="wrapper">
    <div class="d-flex h-100">
        <div class="left">
            <div class="top">
                <input type="text" placeholder="Search" />
                <a href="javascript:;" class="search"></a>
            </div>
            <ul class="people">
                @foreach (var chat in Model.Chats)
                {
                    <li class="person" data-chat="@chat.Id" data-chatUser="@chat.Name">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/thomas.jpg" alt="" />
                        <span class="name">@chat.Name</span>
                        <span class="time">2:09 PM</span>
                        <span class="preview">I was wondering...</span>
                    </li>
                }
            </ul>
        </div>
        <div class="right">
            <div class="top"><span>To: <span class="name">Dog Woofson</span></span></div>
            <div class="chat" data-chat="person1">
                <div class="conversation-start">
                    <span>Today, 6:48 AM</span>
                </div>
                <div class="bubble you">
                    Hello,
                </div>
                <div class="bubble me">
                    ... about who we used to be.
                </div>
                <div class="bubble you">
                    I was wondering...
                </div>
            </div>
            <div class="write">
                <a href="javascript:;" class="write-link attach"></a>
                <input id="message-box" type="text" />
                <a href="javascript:;" class="write-link smiley"></a>
                <a href="javascript:SendMessage();" class="write-link send"></a>
            </div>
        </div>
    </div>
</div>
<script src="~/js/inbox.js"></script>