@using Microsoft.AspNetCore.Identity
@using VfA.DataAccess.Repository.IRepository

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUserClaimsService userClaimsService

@if (User.Identity?.IsAuthenticated == true)
{
    var _user = userClaimsService.GetUserClaims();
    <li class="dropdown">
        <a href="#"><span>Hello @_user.Name</span> <i class="bi bi-chevron-down"></i></a>
        <ul>
            <li><a href="about.html">About</a></li>
            <li><a href="team.html">Team</a></li>
            <li>
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link border-0">Logout</button>
                </form>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a id="inbox" class="nav-link " href="/Inbox" title="Manage">Inbox</a>
    </li>
    <li class="nav-item">
        <a id="manage" class="nav-link " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"></a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link border-0">Logout</button>
        </form>
    </li>
}
else
{
    <li>
        <a asp-area="Identity" asp-page="/Account/RegisterMember">Register</a>
    </li>
    <li>
        <a class="getstarted" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
