@{
    ViewData["Title"] = "Payment Successful";
}
<h3>Payment Successfull</h3>
<p>Thankyou for making payment. Welcome to the Viaduct Platform.</p>

<a class="btn btn-primary" href="/">
    Go To Home Page
</a>