@model List<CompanyActivity>
@{
    ViewData["Title"] = "Activity";
}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Activies</h4>
        </div>
        <div class="card-body">
            <div class="row pb-3">
                <div class="col-6">
                </div>
                <div class="col-6 text-end">
                    <a asp-controller="CompanyActivity" asp-action="Upsert" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i>  Create New Activity
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                    <div class="col-sm-12">
                        <table id="tblData" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                            <thead>
                                <tr role="row">
                                    <th>Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/activity.js"></script>
}
