@model string
@{
    ViewData["Title"] = "Payment Failed";
}
<h3>Payment Failed</h3>
<p>Your payment failed due to an unknown error. Please try again by clicking button below.</p>
<p>@Model</p>
<a class="btn btn-primary" href="/Payment">
    Go To Payment Page
</a>